{% extends "dashboard/base.html" %}
{% load static %}
{% block dashboard_content %}
  <h1>{% if product %}Edit{% else %}Add{% endif %} Product</h1>
  <form class="card form admin-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="image-preview-grid" data-image-preview></div>
    <button class="submit-btn" type="submit">Save Product</button>
  </form>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script type="module" src="{% static 'js/admin/admin-products.js' %}"></script>
{% endblock %}
